@use "../abstracts/" as *;

.copy {
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  font-family: monospace;
  background-color: $blue;
  color: white;
  padding: 0.25rem 0.65rem;
  transition: 0.35s;

  @media (max-width: 500px) {
    font-size: 0.75rem;
    padding: 2px 5px;
  }

  &:hover {
    background-color: $blue;
  }
}

@media (max-width: 767px) {
  .download-btn,
  .save-btn {
    font-size: 0.8rem !important;
  }
}
