.menubar-wrapper {
  padding: 4rem;
  a {
    text-decoration: none;
  }

  @media (max-width: 1000px) {
    padding: 2rem;
  }
}

.new-card {
  border-radius: 5px;
  cursor: pointer;

  p {
    font-size: 1.3rem;
    margin: 0;
  }

  img {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
    @media (max-width: 500px) {
      width: 80px;
    }
  }
}
