* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif !important;
}

a, Link {
    text-decoration: none !important;
}
p {
    margin: 0;
}